bobody, html {
    background-color: black;
}

#radiobox {
    height: 300px;
    width: 540px;
    background: url("Media/Tdkc60cassette.jpg") no-repeat; /* Old browsers */
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    margin: 100px auto;

    
    border: 10px solid peru;
}

#controlbox {
    height: 100px;
    background-color: gray;
    margin-top: 100px;
    border-radius: 10px;
    border: 5px solid grey;
    
}

#leftknob {
    height:100px;
    width:100px;
    background-color: red;
    border-radius:100%;
    border: 5px solid #f1c40f;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 5px;
}


#leftknob:hover {
    background-color: grey;
   cursor: pointer;
}

#leftknob:active {
    background-color: white;
   
}
#rightknob {
    height:100px;
    width:100px;
    
    background-color: blue;
    margin: 100px 30px 0px 30px;
    border-radius:100%;
    border: 5px solid #f1c40f;
}

#rightknob:hover {
    background-color: grey;
   cursor: pointer;
}

#rightknob:active {
    background-color: white;
}

#instrument {
    height: 116px;
    width: 812px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

p {
   color: white;
   font-family:monospace;
   margin-left: 10px;
    
}