bobody, html {
    background-color: black;
}

#radiobox {
    height: 300px;
    width: 540px;
    background: #f0b7a1; /* Old browsers */
     background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 51%, #bf6e4e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(51%,#8c3310), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 51%,#bf6e4e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 51%,#bf6e4e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 51%,#bf6e4e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 10px;
    border: 10px solid peru;
}

#controlbox {
    height: 100px;
    width: 200px;
    background-color: black;
    margin-top: 20px;
    margin-top: 100px;
    border-radius: 10px;
    border: 5px solid grey;
    float: left;
}

#leftknob {
    height:100px;
    width:100px;
    background-color: red;
    border-radius:100%;
    border: 5px solid #f1c40f;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 5px;
    float: left;
}

/* NOT WORKING
.leftknobon {
    height:100px;
    width:100px;
    background-color: red;
    border-radius:100%;
    border: 5px solid #f1c40f;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 5px;
    float: left;
}

.leftknobof {
    height:100px;
    width:100px;
    background-color: blue;
    border-radius:100%;
    border: 5px solid #f1c40f;
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 5px;
    float: left;
}

*/

#leftknob:hover {
    background-color: grey;
   cursor: pointer;
}

#leftknob:active {
    background-color: white;
   
}
#rightknob {
    height:100px;
    width:100px;
    margin-top: 100px;
    background-color: blue;
    margin-left: 5px;
    border-radius:100%;
    border: 5px solid #f1c40f;
    float: left;
}

#rightknob:hover {
    background-color: grey;
   cursor: pointer;
}

#rightknob:active {
    background-color: white;
}

#instrument {
    height: 116px;
    width: 812px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

p {
   color: white;
   font-family:monospace;
   margin-left: 10px;
    
}